<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block flash_messages %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block system_messages %}
            {% if app.user %}
                <div class="my-messages">
                {% for message in app.user.getMessages() %}
                    <div datasrc="{{ path('message_read', {'message_id': message.id })}}" class="alert alert-{{ message.type }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message.text | raw }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}

    </body>
</html>
